.timeSlot {
	color: var(--white);
	border: none;
	font: inherit;
	cursor: pointer;
	font-size: 2.5rem;
	font-weight: 800;
	background-color: var(--primary-blue);
	padding: 1.5rem 4rem;
	margin-top: 3rem;
}